<div *ngIf="view === 'detail'" class="mb-2">
  <button class="btn btn-primary btn-sm" type="button" (click)="backPage()">Return</button>
</div>

<div *ngIf="hero">
  <div [class]="view === 'detail' ? 'row' : ''">
    <div [class]="view === 'detail' ? 'col-md-3' : ''">
      <div class="input-group mb-3">
        <span class="input-group-text" id="id">id</span>
        <input type="number" class="form-control" placeholder="id" aria-label="id" aria-describedby="id" readonly disabled [(ngModel)]="hero.id">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="name">name</span>
        <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="name" [(ngModel)]="hero.name">
      </div>
    </div>
  </div>
</div>
